.errorMessage {
	color: #ff0000;
	font-size: 12px;
}

.grid-view {
	padding: 0 20px !important;

	.pulls {
		margin-left: 30px;
		.pull {


		}
	}
}

.wrong {
	color: red;
}

.answers {
	&.add {
		.answer {
			border-top: 1px dashed;
			padding-top: 10px;
		}
	}
}
.answer {
	&.view {
		.image {
			width: 300px;

			.image-block_img {
				display: block;
				position: relative;
				width: 100%;
			}

			img {
				width: 100%;
			}

			.noimage {
				font-size: 12px;
				color: #ff0000;
				&:after {
					content: ">";
				}
				&:before {
					content: "<";
				}
			}
		}

		.btn-group {
			margin-top: 20px;
		}
	}

}
