

.navbar {
	margin-bottom: 5px;
	border-radius: 0;
	min-height: 36px;

	.navbar-brand {
		padding: 5px 15px;
		height: 31px;
		font-size: 14px;
	}

	.navbar-nav {
		&> li {
			&>a {
				padding-top: 7px;
				padding-bottom: 7px;
				font-size:14px;
				i {
					font-size:18px;
				}
			}
		}
	}
}