@font-face {
  font-family: '6z35zvc6';
  src: local('6z35zvc6.eot');
  src: url('../fonts/6z35zvc6.svg') format('svg'),
  url('../fonts/6z35zvc6.woff') format('woff'),
  url('../fonts/6z35zvc6.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rounds_black';
  src: local('rounds_black.eot');
  src: url('../fonts/rounds_black.svg') format('svg'),
  url('../fonts/rounds_black.woff') format('woff'),
  url('../fonts/rounds_black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'shadow_regular';
  src: local('shadow_regular.eot');
  src: url('../fonts/shadow_regular.svg') format('svg'),
  url('../fonts/shadow_regular.woff') format('woff'),
  url('../fonts/shadow_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'moloko';
  src: local('moloko.eot');
  src: url('../fonts/moloko.svg') format('svg'),
  url('../fonts/moloko.woff') format('woff'),
  url('../fonts/moloko.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.i-inline{
  display: inline;
  zoom: 1;
  display: inline-block;
  vertical-align: top;
}
html, body{
  height: 100%;
}
body{
  background: url(../images/bg-pattern.jpg);
}
.wrapper{
  background: url(../images/mashine.png) center 0 no-repeat;
  height: 860px;
  width: 100%;
  min-width: 1000px;
  position: relative;
  /*-webkit-box-shadow: 0px 0px 250px 0px rgba(0, 0, 0, 0.75) inset;
    -o-box-shadow: 0px 0px 250px 0px rgba(0, 0, 0, 0.75) inset;
       box-shadow: 0px 0px 250px 0px rgba(0, 0, 0, 0.75) inset;*/
}
.moloko-text{
  position: absolute;
  font: 20px 'moloko', Arial, Sans-serif;
  color: #fff;
  width: 180px;
}
.lever-text{
  top: 190px;
  right: -10px;
}
.range-text{
  top: 240px;
  left: 40px;
  width: 160px;
}
.button-text{
  top: 804px;
  left: 338px;
}
.left-pic{
  background: url(../images/pioner.png) no-repeat;
  float: right;
}
.right-pic{
  background: url(../images/cosmonavt.png) no-repeat;
  float: left;
}
.inner{
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
}
.logo{
  display: inline-block;
  background: url(../images/logo.png) no-repeat;
  width: 481px;
  height: 158px;
  margin-left: 284px;
}
.main-title{
  font: 22px 'shadow_regular', Arial, Sans-serif;
  color: #c3441c;
  /*    -webkit-text-shadow: 2px 3px 7.04px rgba(0, 0, 0, 0.21);
		 -moz-text-shadow: 2px 3px 7.04px rgba(0, 0, 0, 0.21);
		   -o-text-shadow: 2px 3px 7.04px rgba(0, 0, 0, 0.21);
			  text-shadow: 2px 3px 7.04px rgba(0, 0, 0, 0.21);*/
  padding-top: 63px;
}
.main-subtitle{
  display: inline-block;
  font: 20px/30px 'rounds_black', Arial, Sans-serif;
  color: #ffe3c0;
  width: 600px;
  letter-spacing: 2px;
  padding-top: 0px;
}
.tablo{
  position: absolute;
  top: 467px;
  left: 278px;
}
.tablo-cifra_1, .tablo-cifra_2, .tablo:before, .tablo:after{
  font: 66px '6z35zvc6', Arial, Sans-serif;
  color: #c3441c;
  position: absolute;
}
.tablo:before, .tablo:after{
  content: "8888";
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  opacity: 0.15;
}
.tablo:after{
  top: 0px;
  left: 310px;
}
.tablo-cifra_2{
  top: 0px;
  left: 310px;
}
.slider-position{
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 470px;
  height: 30px;
  top: 387px;
  left: 240px;
}
.input-range{
  background: none;
  border: none;
  position: absolute;
  width: 160px;
}
.main-button{
  outline: none;
  border: none;
  width: 270px;
  height: 140px;
  cursor: pointer;
  background: url(../images/main-button.png) no-repeat;
  position: absolute;
  top: 80px;
  left: 84px;
}
.main-button:hover{
  background: url(../images/main-button_active.png) no-repeat;
}
.handle-button{
  border: none;
  width: 103px;
  height: 221px;
  cursor: pointer;
  background: url(../images/handle.png) no-repeat;
  position: absolute;
  top: -150px;
  left: 548px;
}
.handle-button:hover{
  background: url(../images/handle-active.png) no-repeat;
}

/*вторая страничка*/

.ussr-logo{
  background: url(../images/ussr-logo.png) no-repeat;
  width: 43px;
  height: 29px;
  display: inline-block;
  margin-top: 20px;
}
.subtitle-question{
  width: 800px;
}
.years{
  font-size: 61px;
  position: relative;
  padding-top: 0px;
}
.years:before{
  content: '';
  background: url(../images/flag-left.png) no-repeat;
  width: 157px;
  height: 182px;
  position: absolute;
  top: -42px;
  left: 168px;
}
.years:after{
  content: '';
  background: url(../images/flag-right.png) no-repeat;
  width: 157px;
  height: 182px;
  position: absolute;
  top: -42px;
  right: 168px;
  padding-bottom: 0px;
}
.years-comment{
  font-size: 24px;
  padding-top: 0px;
  position: relative;
}
.years-comment:before{
  content: '';
  background: url(../images/linered.png) no-repeat;
  position: absolute;
  top: 7px;
  left: 380px;
  width: 61px;
  height: 4px;
}
.years-comment:after{
  content: '';
  background: url(../images/linered.png) no-repeat;
  position: absolute;
  top: 7px;
  right: 380px;
  width: 61px;
  height: 4px;
}
.subtitle-question{
  padding-top: 40px;
  width: 1000px;
  font-size: 13px;
}
.image-block{
  padding: 46px 0 20px;
}
.image-block_inner {
  width: 254px;
  padding: 10px;
}
/*.image-block_inner-width{
    width: 420px;
}*/
.image-block_image {
  display: block;
  position: relative;
  height: 100%;
  min-height: 200px;
  /* width: 100%; */
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.image-block_image:before{
  content: '';
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/no.png) no-repeat;
  width: 100%;
  height: auto;
  max-width: 100%;
}
.image-block_img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 15px;
  max-width: 100%;
  /*    -webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.75) inset;
	   -moz-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.75) inset;
			box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.75) inset;*/
}
.image-block_img:before{
  z-index: 10;
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*-webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.75) inset;
   -moz-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.75) inset;
		box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.75) inset;*/
}
.image-block_text{
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
}
.image-block_inner:hover .image-block_image:before{
  z-index: 10;
  display: block;
}
.wrapper-inner{
  background: url(../images/blur.png) center 57px no-repeat;
  width: 100%;
  min-width: 1000px;
  position: relative;
  /*-webkit-box-shadow: 0px 0px 250px 0px rgba(0, 0, 0, 0.75) inset;
-o-box-shadow: 0px 0px 250px 0px rgba(0, 0, 0, 0.75) inset;
box-shadow: 0px 0px 250px 0px rgba(0, 0, 0, 0.75) inset;*/
  z-index: 100;
}
.inner-item:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/vesi.png) no-repeat;
  width: 135px;
  height: 364px;
}
.inner-item:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/telephone.png) no-repeat;
  width: 248px !important;
  height: 236px !important;
}
.congr-block{
  width: 796px;
  min-height: 560px;
  padding-bottom: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: linear-gradient(to top, #e5d3bc, #eae7dc);
  border: 1px solid #a3a3a3;
  margin: 0 auto;
}
.finish-page{
  padding: 40px 0;
}
.finish-title{
  font: 56px 'shadow_regular', Arial, Sans-serif;
  color: #c3441c;
  padding: 80px 0 27px;
}
.finish-subtitle{
  font: 17px 'rounds_black', Arial, Sans-serif;
  color: #000;
}
.finish-resuilt{
  font: 32px/40px 'shadow_regular', Arial, Sans-serif;
  color: #c3441c;
  padding: 42px 0 34px;
  width: 370px;
}
.finish-share{
  font: 17px 'moloko', Arial, Sans-serif;
  color: #32312e;
}
.finish-share_link{
  font: 17px 'moloko', Arial, Sans-serif;
  color: #367cc6;
  border-bottom: 1px solid #367cc6;
  text-decoration: none;
}
.finish-share_link:hover{
  border-bottom: none;
}
.finish-social{
  padding: 50px 0 26px;
}
.social-icon{
  padding: 5px;
  width: 58px;
  height: 58px;
  position: relative;
}
.social-vk{
  background: url(../images/vk.png) no-repeat;
}
.social-vk:before, .social-tw:before, .social-fb:before{
  content: '';
  position: absolute;
  width: 13px;
  height: 22px;
}
.social-vk:before{
  background: url(../images/left-arrow.png) no-repeat;
  top: -30px;
  left: 26px;
}
.social-tw:before{
  background: url(../images/right-arrow.png) no-repeat;
  top: -30px;
  left: 14px;
}
.social-fb:before{
  background: url(../images/center-arrow.png) no-repeat;
  top: -29px;
  left: 21px;
}
.social-tw{
  background: url(../images/tw.png) no-repeat;
}
.social-fb{
  background: url(../images/fb.png) no-repeat;
}
.inner-item{
  background: url(../images/blur2.png) center 57px no-repeat;
}
/*add*/
@media screen and (min-width: 1200px) {
  .wrapper:before{
    content: '';
    background: url(../images/pioner.png) no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 193px;
    height: 569px;
  }
  .wrapper:after{
    content: '';
    background: url(../images/cosmonavt.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 193px;
    height: 569px;
  }
  .page-footer:before{
        content: '';
        background: url(../images/sceti.png);
        position: absolute;
        bottom: 0;
        right: 0;
        width: 479px;
        height: 209px; 
  }
  .page-footer:after{
        content: '';
        background: url(../images/vinil.png);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 198px;
        height: 242px; 
  }
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.page-wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
* html .page-wrapper {
    height: 100%;
}
.page-buffer {
    height: 50px;
}
.page-footer {
    position: relative;
    height: 50px;
}
.logo-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}