.music-button{
	position: absolute;
	top: 20px;
	left: 240px;
	z-index: 200;
}
.music-button input[type="checkbox"] + label{
 	font: 12px 'shadow_regular', Arial, Sans-serif;
	color: #aa4624;
	border-bottom: 1px solid #aa4624;
 	cursor: pointer;
}
.music-button:hover input[type="checkbox"] + label{
	border-bottom: 0px solid #aa4624;
}
.music-button input[type="checkbox"] + label::before{
    content: "";
    position: absolute;
    top: -3px;
	left: -36px;
    height: 32px;
    width: 32px;
    margin: 0 5px 0 0;
    background: url(../images/audio.png) no-repeat;
}
.music-button input[type="checkbox"] + label::before {
    background-position: 0px 0px;    
}
.music-button input[type="checkbox"]:checked + label::before {
    background-position: 0px -32px;
}